@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply px-5 md:px-20;
  }
  .form input,
  .form textarea {
    @apply outline-0 focus:outline-0 border-0 p-2 outline-none mb-4 mt-0.5 w-full rounded-md resize-none;
    background: rgba(43, 46, 53, 0.72);
  }

  .bttn {
    @apply px-3 py-2 text-lg text-white hover:bttn_hover;
    background-image: linear-gradient(
      45deg,
      hsl(335deg 100% 50%) 0%,
      hsl(331deg 100% 50%) 10%,
      hsl(326deg 100% 49%) 20%,
      hsl(320deg 100% 47%) 30%,
      hsl(313deg 100% 45%) 40%,
      hsl(304deg 100% 41%) 50%,
      hsl(297deg 89% 43%) 60%,
      hsl(290deg 79% 48%) 70%,
      hsl(281deg 79% 52%) 80%,
      hsl(271deg 86% 56%) 90%,
      hsl(259deg 95% 60%) 100%
    );
  }
  .bttn_hover {
    background-image: linear-gradient(
      305deg,
      hsl(335deg 100% 50%) 0%,
      hsl(331deg 100% 50%) 10%,
      hsl(326deg 100% 49%) 20%,
      hsl(320deg 100% 47%) 30%,
      hsl(313deg 100% 45%) 40%,
      hsl(304deg 100% 41%) 50%,
      hsl(297deg 89% 43%) 60%,
      hsl(290deg 79% 48%) 70%,
      hsl(281deg 79% 52%) 80%,
      hsl(271deg 86% 56%) 90%,
      hsl(259deg 95% 60%) 100%
    );
  }

  @keyframes slide-out {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0.25;
    }
  }
  .animate-slide {
    animation: slide-out 1000ms normal;
  }

  form label {
    @apply text-gray-500 text-sm;
  }
  .number {
    @apply w-10 h-10 p-2 text-sm text-black bg-brand-500 inline-flex justify-center items-center rounded-full;
  }
  .steps {
    @apply mb-8;
  }
  .steps .content {
    @apply hidden;
  }
  .steps.active .content {
    @apply grid;
  }
  a.link {
    @apply hover:text-brand-400 cursor-pointer max-w-max;
  }
  .faq a.link {
    @apply text-brand-500 hover:text-brand-400 cursor-pointer max-w-max;
  }
  .h1 {
    @apply leading-relaxed text-center font-serif text-3xl md:text-5xl;
  }
  .list-info {
    @apply flex flex-row justify-between items-center;
  }
}
